@model IEnumerable<ClassroomManagement.Models.Subject>

@{
    ViewData["Title"] = "Materia";
}

<a asp-action="Create">Criar Materia</a>

<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.SubjectName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SubjectName)
                </td>
                <td>
                    <a asp-action="DeleteConfirm" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>

        }
    </tbody>
</table>

