@model GestãoDeSalaDeAula.Models.ViewModel.AlunoViewModel

@{
    ViewData["title"] = "Criar";
}

<h1>@Html.DisplayFor(Model => Model.aluno!.Name)</h1>

<div class="linha">
    <div class="boxLinha">
        <form asp-action="Create">
        <input type="hidden" asp-for="aluno!.Id" />
        <input type="hidden" asp-for="aluno!.Name" />
        <select class="select" asp-for="provas!.MateriasId" asp-items="ViewBag.MateriasId" required>
            <option value="">-Selecione a materia-</option>
        </select>
        <input asp-for="provas!.Nota" placeholder="Nota" required />
        <input type="submit" />
    </form>
    </div>
    <div class="boxLinha">
        <h2>Sobre</h2>
        <p>Durante os 5 primeiros anos em Hogwarts as materias de Transfiguração, 
            Feitiços, Poções, Historia da Magia, Defesa Contra as Artes das Trevas, 
            Astronomia e Herbologia são obrigatórias. Adicione uma nota a cada um e 
            clique em Ranking para ver a sua classificação no ano.
        </p>
    </div>
</div>