@model ClassroomManagement.Models.ViewModel.AlunoViewModel

@{
    ViewData["title"] = "Deletar";
}

<form asp-action="Delete">
    <input type="hidden" asp-for="provas!.ExamId" />
    <input type="hidden" asp-for="provas!.Student!.Id" />
    <p>Deseja excluir a prova de <b>@Html.DisplayFor(Model => Model.provas!.Subject!.SubjectName)</b> do aluno <b>@Html.DisplayFor(Model => Model.provas!.Student!.Name)</b> </p>
    <input type="hidden" asp-for="provas!.Student!.Name" />
    <input type="hidden" asp-for="provas!.SubjectId" />
    <input asp-for="provas!.Score" disabled/>
    <input type="submit" value="Deletar" />
</form>
<a asp-controller="Alunos" asp-action="Details" asp-route-id="@Model.aluno!.Id">Voltar</a>
