@model GestãoDeSalaDeAula.Models.ViewModel.AlunoViewModel

@{
    ViewData["title"] = "Deletar";
}

<form asp-action="Delete">
    <input type="hidden" asp-for="provas!.ProvasId" />
    <input type="hidden" asp-for="provas!.Aluno!.Id" />
    <p>Deseja excluir a prova de <b>@Html.DisplayFor(Model => Model.provas!.Materia!.MateriasName)</b> do aluno <b>@Html.DisplayFor(Model => Model.provas!.Aluno!.Name)</b> </p>
    <input type="hidden" asp-for="provas!.Aluno!.Name" />
    <input type="hidden" asp-for="provas!.MateriasId" />
    <input asp-for="provas!.Nota" disabled/>
    <input type="submit" value="Deletar" />
</form>
<a asp-controller="Alunos" asp-action="Details" asp-route-id="@Model.aluno!.Id">Voltar</a>
