<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gestão De Sala De Aula</title>
    <link rel="icon" type="image/x-icon" href="~/imagens/icon.svg" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta name="description" content="Gestão de sala de aula,obtendo nome e notas e ranqueando a sala de aula baseada na media de cada aluno cadastrado" />
    <link rel="canonical" href="https://gestaodesaladeaula.azurewebsites.net/">
    <meta name="author" content="Raphael Francisco" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Gestão de sala de aula" />
    <meta property="og:description" content="Gestão de sala de aula,obtendo nome e notas e ranqueando a sala de aula baseada na media de cada aluno cadastrado"/>
    <meta property="og:url" content="https://gestaodesaladeaula.azurewebsites.net/" />
    <meta property="og:site_name" content="Gestão de sala de aula" />
   <meta property="og:image" content="https://gestaodesaladeaula.azurewebsites.net/imagens/logo.svg" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel|Fauna+One">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="~/imagens/logo.svg"/>
            </div>
            <ul>
                <li>
                    <b><a asp-area="" asp-controller="Student" asp-action="Index">Ranking</a></b>
                </li>
                <li>
                    <a asp-area="" asp-controller="Professor" asp-action="Index">Professores</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Student" asp-action="create">Adicionar aluno</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="main">
        @RenderBody()
    </div>

    <footer>
        <p>Feito por Raphael Francisco</p>
        <a href="https://github.com/raphael-rfa" target="_blank">
            <img src="~/imagens/GitHub-Mark-120px-plus.png" alt="" width="28" height="28" />
        </a>
        <a href="https://www.linkedin.com/in/raphael-rfa/" target="_blank">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg"
                 width="28" height="28" />
        </a>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
