@model GestãoDeSalaDeAula.Models.Alunos

@{
    ViewData["Title"] = "Adicionar";
}

<div class="textHeader">
    <h1>Adicionar</h1>

    <h4>Aluno</h4>
</div>
<hr />
<div class="row">
    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <label asp-for="Name"></label>
                <input asp-for="Name"/>
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <input type="submit" value="Adicionar"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
