@model GestãoDeSalaDeAula.Models.Aluno

@{
    ViewData["Title"] = "Deletar";
}

<div class="textHeader">
    <h1>Excluir</h1>
    <h3>Você tem certeza que deseja excluir o aluno ?</h3>
</div>
<div>
    <dl class ="dl">
        <dt>
            <b>@Html.DisplayNameFor(model => model.Nome):</b>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
</div>
 <div>   
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar"/> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
