@model GestãoDeSalaDeAula.Models.Aluno

@{
    ViewData["Title"] = "Editar";
}

<div class="textHeader">
    <h1>Edit</h1>

    <h4>Aluno</h4>
</div>
<hr />
<div>
    <div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="Id" />
            <div>
                <label asp-for="Nome"></label>
                <input asp-for="Nome"/>
                <span asp-validation-for="Nome"></span>
            </div>
            <div>
                <label asp-for="Nota1"></label>
                <input asp-for="Nota1"/>
                <span asp-validation-for="Nota1"></span>
            </div>
            <div>
                <label asp-for="Nota2"></label>
                <input asp-for="Nota2"/>
                <span asp-validation-for="Nota2"></span>
            </div>
            <div>
                <label asp-for="Nota3"></label>
                <input asp-for="Nota3"/>
                <span asp-validation-for="Nota3"></span>
            </div>
            <div>
                <label asp-for="Nota4"></label>
                <input asp-for="Nota4"/>
                <span asp-validation-for="Nota4"></span>
            </div>
            <div>
                <input type="submit" value="Atualizar"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
