@model GestãoDeSalaDeAula.Models.Alunos

@{
    ViewData["Title"] = "Editar";
}

<div class="textHeader">
    <h1>Edit</h1>

    <h4>Aluno</h4>
</div>
<hr />
<div>
    <div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="Id" />
            <div>
                <label asp-for="Name"></label>
                <input asp-for="Name"/>
                <span asp-validation-for="Name"></span>
            </div>            
            <div>
                <input type="submit" value="Atualizar"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
