@model StudentViewModel

@{
    ViewData["title"] = "Editar";
}

<form asp-action="Edit">
    <input type="hidden" asp-for="Exam.Id"/>
    <input type="hidden" asp-for="Exam.Student.Id"/>
    <label asp-for="Exam.Student.Id">@Html.DisplayFor(Model => Model.Exam.Student.Name)</label>
    <input type="hidden" asp-for="Exam.Student.Name"/>
    <label asp-for="Exam.SubjectId">@Html.DisplayFor(Model => Model.Exam.Subject.SubjectName)</label>
    <input type="hidden" asp-for="Exam.SubjectId" />
    <input asp-for="Exam.Score"/>
    <input type="submit" value="Atualizar"/>
</form>
<a asp-controller="Student" asp-action="Details" asp-route-id="@Model.Student.Id">Voltar</a>
