@model GestãoDeSalaDeAula.Models.Provas

@{
    ViewData["title"] = "Criar";
}

<form asp-action="Create">
    <select asp-for="AlunoId" asp-items="ViewBag.AlunoId">
        <option value="">-Selecione o aluno-</option>
    </select>
    <select asp-for="MateriasId" asp-items="ViewBag.MateriasId">
        <option value="">-Selecione a materia-</option>
    </select>
    <input asp-for="Nota"/>
    <input type="submit"/>
</form>
